.Header{

    height : 9vh;
    width : 100dvw;
    background-color: red;

    display: flex;
    justify-content: space-around;
    align-items: center;

    a{

        text-decoration: none;
        font-size: larger;

    }

    button{

        background-color: transparent;
        font-size: larger;
        border: none;
        cursor: pointer;
        

    }
}