.MainBody {

   

    
    .TheBoxs
    {
        background-color: transparent;
    

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


            .BacksBtn{
        
               
            
        
                height: 40px;
                width: 40px;
                background-color: blue;
                font-size: x-large;
                border-radius: 50%;
                border: none;
        
                
        
                .line1{
        
                    height: 3px;
                    width: 50%;
                    background-color: black;
                   
                    
        
                }
        
                .line2{
        
                    height: 3px;
                    width: 50%;
                    background-color: black;
                   
        
                }
        
        }

        .BoxSubHead{
            height: 40px;
            font-size: larger;
            padding-block: 0em;
            color: whitesmoke;
            background-color: transparent;

        }

        
        
    }


}







.Heading{


    color: white;
    font-size: larger;
    text-align: center;

}

