.MainBody {

    height: 91dvh;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ButtonsBox {

    height: 600px;
    width: 400px;
    background-color: blue;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    button {
        width: 100px;
        height: 40px;
        cursor: pointer;
    }

}

.InPage {

    height: 300px;
    width: 400px;
    /* border-radius: 20px; */

    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(10px);

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);

    
    position: absolute;
    top : 55%;
    left:50%;
    transform: translate(-50%,-50%);



    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;




    .InBackBtn{

        position: absolute;
        top : 10px;
        left : 10px;
    

        height: 40px;
        width: 40px;
        background-color: blue;
        font-size: x-large;
        border-radius: 50%;
        border: none;

        

        .line1{

            height: 3px;
            width: 50%;
            background-color: black;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%) rotateZ(-45deg);

        }

        .line2{

            height: 3px;
            width: 50%;
            background-color: black;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%) rotateZ(45deg);

        }



        

    }

    .SubmitBtn{

        position: absolute;
        bottom : 10px;
        right : 10px;

        height: 40px;
        width: 90px;
        border-radius: 20px;
        border: none;

        background-color: blue;
        color: white;

        font-size: medium;

    }

    .InInputBox{

        height: 30px;
        width: 250px;
        font-size: larger;
        text-align: center;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        color: white;
        margin-bottom: 10px;

    }

    .InLabel{

        font-size: larger;
        padding-bottom: 10px;

    }



}

.OutPage {

    height: 340px;
    width: 450px;
    /* border-radius: 20px; */

    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;

    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) ;
    backdrop-filter: blur(10px);

    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);

    position: absolute;
    top : 55%;
    left:50%;
    transform: translate(-50%,-50%);



    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



    
    .OutBackBtn{

        position: absolute;
        top : 10px;
        left : 10px;
    


        height: 40px;
        width: 40px;
        background-color: blue;
        font-size: x-large;
        border-radius: 50%;
        border: none;

        

        .line1{

            height: 3px;
            width: 50%;
            background-color: black;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%) rotateZ(-45deg);

        }

        .line2{

            height: 3px;
            width: 50%;
            background-color: black;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%) rotateZ(45deg);

        }



        

    }

    .SubmitBtn{

        position: absolute;
        bottom : 10px;
        right : 10px;

        height: 40px;
        width: 90px;
        border-radius: 20px;
        border: none;

        background-color: blue;
        color: white;

        font-size: medium;

    }

    .OutInputBox{

        height: 30px;
        width: 250px;
        font-size: larger;
        text-align: center;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid black;
        color: white;
        /* padding-top: 20px; */
        margin-bottom: 15px;

    }

    .OutLabel1{

        font-size: larger;
        padding-bottom: 5px;

    }

    .OutLabel2{

        font-size: larger;
        padding-bottom: 5px;

    }

}

.Heading{

    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%,-50%);

}

.ListTable{

    table {
        width: 100%;
        border-collapse: collapse; /* Removes spacing between cells */
    }


    tr{

        padding-inline: 15px;
        padding-block: 10px;
        text-align: center;
        font-size: 16px;
        border: none;

    }td{

        padding-inline: 15px;
        padding-block: 10px;
        text-align: center;
        font-size: 16px;
        border: 1px solid black;

    }
    th{

        padding-inline: 10px;
        padding-block: 12px;
        background-color: red;
        color: white;
        border: 1px solid black;

    }

    tr:nth-child(odd){

        td:nth-child(odd) {
            background-color: #f0f8ff; 
            color: #000; 
        }
    
        td:nth-child(even) {
            background-color: #d3e0ea; 
            color: #000; 
        }

    }

    tr:nth-child(even){

        td:nth-child(odd) {
            background-color: #d3e0ea; 
            color: #000; 
            
        }
    
        td:nth-child(even) {
            
            background-color: #f0f8ff; 
            color: #000; 
        }

    }

}